<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.kfkx"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/call" android:label="@string/app_name" android:manageSpaceActivity="s">
    <uses-library android:name="android.test.runner" />
    <receiver android:name=".callactivity.CallMasterReceiver">
	    <intent-filter>
	   		<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
	    	<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> 
	    	<action android:name="android.intent.action.PHONE_STATE"/>           
            <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
	        <action android:name="android.intent.action.BOOT_COMPLETED"/>
	    </intent-filter>
	</receiver>
    <service android:name=".callactivity.CallOutService"/>
    <service android:name=".callactivity.CallService" />
    <service android:name=".callactivity.BlackListService" />
    <activity android:name=".callactivity.CallActivity" android:label="@string/app_name">
        <intent-filter>
            <action android:name="cn.opda.android.NewActivity" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
	<activity android:name=".callactivity.FirstActivity" >
		 <intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		 </intent-filter>
	</activity>
	<activity android:name=".contact.CallHistoryList">
	<intent-filter>
            <action android:name="cn.opda.android.CallHistoryList" />
            <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>      
	</activity>
	<activity android:name=".contact.BlackListList">
	<intent-filter>
		<action android:name="cn.opda.android.BlackListList" />
	    <category android:name="android.intent.category.DEFAULT" />
	 </intent-filter>
	</activity>
	<activity android:name=".contact.BaseBlackList">
	<intent-filter>
		<action android:name="cn.opda.android.BaseBlackList" />
	    <category android:name="android.intent.category.DEFAULT" />
	    </intent-filter>
	</activity>
	<activity android:name=".contact.ContactList">
	<intent-filter>
		<action android:name="cn.opda.android.ContactList" />
	    <category android:name="android.intent.category.DEFAULT" />
	    </intent-filter>
	</activity>
	<activity android:name=".callactivity.AlertBlackActivity">
	<intent-filter>
		<action android:name="cn.opda.android.AlertBlackActivity" />
	    <category android:name="android.intent.category.DEFAULT" />
	</intent-filter>
	</activity>
	<activity android:name=".callactivity.HelpActivity">
	<intent-filter>
		<action android:name="cn.opda.android.HelpActivity" />
	    <category android:name="android.intent.category.DEFAULT" />
	</intent-filter>
	</activity>
	<activity android:name=".callactivity.SetActivity">
	<intent-filter>
		<action android:name="cn.opda.android.SetActivity" />
	    <category android:name="android.intent.category.DEFAULT" />
	</intent-filter>
	</activity>
</application>
    <uses-sdk android:minSdkVersion="3" />   
	<!-- 访问internet权限 -->
	<uses-permission android:name="android.permission.INTERNET"/>
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
	<!-- 监听电话状态 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 开机通知 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 获取网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 联网的权限 -->
  	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
	<!-- 振动 -->
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<instrumentation android:name="android.test.InstrumentationTestRunner"
  		android:targetPackage="net.kfkx" android:label="Tests for My App" />
  	
</manifest> 